{% include 'header.html'%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
    <script src="/static/js/jquery-1.12.2.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <link rel="stylesheet" href="/static/tools/css/pickmeup.css" type="text/css" />
    <link rel="stylesheet" media="screen" type="text/css" href="/static/tools/css/demo.css" />

    <script type="text/javascript" src="/static/tools/js/jquery.pickmeup.js"></script>
    <script type="text/javascript" src="/static/tools/js/demo.js"></script>
</head>
<body>
<div class="col-md-3 col-lg-offset-4">
    <form class="form-horizontal" style="margin: 45px" >
        <div class="form-group" >
            <label for="email">Email</label><input id="email" type="email" name="email" class="form-control ">
        </div>
        <div class="form-group" >
            <label for="nickname">昵称</label><input id="nickname" type="text" name="nickname" class="form-control ">
        </div>
        <div class="form-group" >
            <label for="passwd">密码</label><input id="passwd" type="password" name="passwd" class="form-control ">
        </div>
        <div class="form-group" >
            <label for="passwd1">验证密码</label><input id="passwd1" type="password" name="paswwd1" class="form-control ">
        </div>
        <div class="form-group" >
            <label for="birthday">生日</label>
            <article>
            <input type="text" value="01-01-1992" name="birthday" id="birthday" class="form-control" >
            </article>
        </div>
        <div class="form-group" >
            <label for="job">职业</label><input id="job" type="text" name="job" class="form-control ">
        </div>
        <div class="form-group" >
            <label for="label">标签</label><input id="label" type="text" name="label" class="form-control ">
        </div>

    </form>
</div>

</body>
</html>
